/* :root {
  --Color-NEUTRAL: grey;
  --Color-RED: red;
  --Color-BLUE: blue;
  --Color-GREEN: green;
  --Color-YELLOW: yellow;
  --Palette-neutral-0: #000000;
  --Palette-neutral-1: #302d38;
  --Palette-neutral-2: #726c86;
  --Palette-neutral-3: #918ba3;
  --Palette-neutral-4: #b5b1c2;
  --Palette-neutral-5: #fffeff;
  --Palette-red-0: #2c2c2c;
  --Palette-red-1: #624a47;
  --Palette-red-2: #aa4439;
  --Palette-red-3: #c63526;
  --Palette-red-4: #f21700;
  --Palette-red-5: #ff1800;
  --Palette-green-0: #202c16;
  --Palette-green-1: #5f6957;
  --Palette-green-2: #3c5627;
  --Palette-green-3: #627c4f;
  --Palette-green-4: #587c3c;
  --Palette-green-5: #629838;
  --Palette-blue-0: #999999;
  --Palette-blue-1: #646188;
  --Palette-blue-2: #373276;
  --Palette-blue-3: #110b5c;
  --Palette-blue-4: #140e65;
  --Palette-blue-5: #060054;
  --Palette-yellow-0: #41320a;
  --Palette-yellow-1: #755606;
  --Palette-yellow-2: #ad7e05;
  --Palette-yellow-3: #c89100;
  --Palette-yellow-4: #eaa800;
  --Palette-yellow-5: #ffb700;
  --Shades-neutral-0: #000000;
  --Shades-neutral-1: #08070a;
  --Shades-neutral-2: #0f0e11;
  --Shades-neutral-3: #151417;
  --Shades-neutral-4: #19181c;
  --Shades-neutral-5: #1e1c22;
  --Shades-neutral-6: #222027;
  --Shades-neutral-7: #27242d;
  --Shades-neutral-8: #2b2932;
  --Shades-neutral-9: #302d38;
  --Shades-red-0: #000000;
  --Shades-red-1: #210e04;
  --Shades-red-2: #391508;
  --Shades-red-3: #52190a;
  --Shades-red-4: #6c1d0c;
  --Shades-red-5: #881f0c;
  --Shades-red-6: #a4200a;
  --Shades-red-7: #c22008;
  --Shades-red-8: #e01d05;
  --Shades-red-9: #ff1800;
  --Shades-green-0: #000000;
  --Shades-green-1: #11160b;
  --Shades-green-2: #1b2413;
  --Shades-green-3: #243319;
  --Shades-green-4: #2e421e;
  --Shades-green-5: #385223;
  --Shades-green-6: #426328;
  --Shades-green-7: #4d742e;
  --Shades-green-8: #578633;
  --Shades-green-9: #629838;
  --Shades-blue-0: #000000;
  --Shades-blue-1: #06000f;
  --Shades-blue-2: #0b0018;
  --Shades-blue-3: #100020;
  --Shades-blue-4: #120028;
  --Shades-blue-5: #130031;
  --Shades-blue-6: #120039;
  --Shades-blue-7: #0f0042;
  --Shades-blue-8: #0c004b;
  --Shades-blue-9: #060054;
  --Shades-yellow-0: #000000;
  --Shades-yellow-1: #1f180a;
  --Shades-yellow-2: #372911;
  --Shades-yellow-3: #503b14;
  --Shades-yellow-4: #6b4e15;
  --Shades-yellow-5: #866116;
  --Shades-yellow-6: #a37615;
  --Shades-yellow-7: #c18b12;
  --Shades-yellow-8: #e0a10c;
  --Shades-yellow-9: #ffb700;
  --Tints-neutral-0: #ffffff;
  --Tints-neutral-1: #e5e5e7;
  --Tints-neutral-2: #cccccf;
  --Tints-neutral-3: #b4b3b7;
  --Tints-neutral-4: #9c9aa0;
  --Tints-neutral-5: #85838a;
  --Tints-neutral-6: #6e6c75;
  --Tints-neutral-7: #595660;
  --Tints-neutral-8: #44414b;
  --Tints-neutral-9: #302d38;
  --Tints-red-0: #ffffff;
  --Tints-red-1: #ffebe2;
  --Tints-red-2: #ffd6c6;
  --Tints-red-3: #ffc1aa;
  --Tints-red-4: #ffac8e;
  --Tints-red-5: #ff9674;
  --Tints-red-6: #ff7f59;
  --Tints-red-7: #ff663f;
  --Tints-red-8: #ff4824;
  --Tints-red-9: #ff1800;
  --Tints-green-0: #ffffff;
  --Tints-green-1: #eef3e8;
  --Tints-green-2: #dce8d1;
  --Tints-green-3: #cbdcbb;
  --Tints-green-4: #bad1a5;
  --Tints-green-5: #a8c58f;
  --Tints-green-6: #97ba79;
  --Tints-green-7: #86af64;
  --Tints-green-8: #74a34e;
  --Tints-green-9: #629838;
  --Tints-blue-0: #ffffff;
  --Tints-blue-1: #e4dfeb;
  --Tints-blue-2: #c9c0d8;
  --Tints-blue-3: #aea2c4;
  --Tints-blue-4: #9484b1;
  --Tints-blue-5: #7a689e;
  --Tints-blue-6: #604d8b;
  --Tints-blue-7: #463379;
  --Tints-blue-8: #2a1a66;
  --Tints-blue-9: #060054;
  --Tints-yellow-0: #ffffff;
  --Tints-yellow-1: #fff7e7;
  --Tints-yellow-2: #ffefcf;
  --Tints-yellow-3: #ffe6b7;
  --Tints-yellow-4: #ffdea0;
  --Tints-yellow-5: #ffd688;
  --Tints-yellow-6: #ffce6f;
  --Tints-yellow-7: #ffc755;
  --Tints-yellow-8: #ffbf37;
  --Tints-yellow-9: #ffb700;
  --Tones-neutral-0: #808080;
  --Tones-neutral-1: #777678;
  --Tones-neutral-2: #6d6c6f;
  --Tones-neutral-3: #646367;
  --Tones-neutral-4: #5b595f;
  --Tones-neutral-5: #525057;
  --Tones-neutral-6: #49474f;
  --Tones-neutral-7: #413e47;
  --Tones-neutral-8: #383540;
  --Tones-neutral-9: #302d38;
  --Tones-red-0: #808080;
  --Tones-red-1: #937b73;
  --Tones-red-2: #a47567;
  --Tones-red-3: #b36f5a;
  --Tones-red-4: #c1674e;
  --Tones-red-5: #cf5f41;
  --Tones-red-6: #db5434;
  --Tones-red-7: #e84826;
  --Tones-red-8: #f33617;
  --Tones-red-9: #ff1800;
  --Tones-green-0: #808080;
  --Tones-green-1: #7e8379;
  --Tones-green-2: #7b8671;
  --Tones-green-3: #78886a;
  --Tones-green-4: #758b62;
  --Tones-green-5: #728e5b;
  --Tones-green-6: #6f9053;
  --Tones-green-7: #6b934a;
  --Tones-green-8: #679542;
  --Tones-green-9: #629838;
  --Tones-blue-0: #808080;
  --Tones-blue-1: #75717c;
  --Tones-blue-2: #696277;
  --Tones-blue-3: #5e5372;
  --Tones-blue-4: #52456e;
  --Tones-blue-5: #463769;
  --Tones-blue-6: #3a2a64;
  --Tones-blue-7: #2c1c5f;
  --Tones-blue-8: #1c0f59;
  --Tones-blue-9: #060054;
  --Tones-yellow-0: #808080;
  --Tones-yellow-1: #908678;
  --Tones-yellow-2: #9f8c6f;
  --Tones-yellow-3: #ae9266;
  --Tones-yellow-4: #bc985d;
  --Tones-yellow-5: #c99e52;
  --Tones-yellow-6: #d7a447;
  --Tones-yellow-7: #e4aa39;
  --Tones-yellow-8: #f2b127;
  --Tones-yellow-9: #ffb700;
  --Curve-Slighter: 1;
  --Curve-Slight: 10;
  --Curve-Lighter: 20;
  --Curve-Tight: 30;
  --Curve-Tighter: 60;
  --Curve-Full: 100;
  --Depth-Basement: 1;
  --Depth-Lobby: 10;
  --Depth-First: 20;
  --Depth-Second: 30;
  --Depth-Third: 60;
  --Depth-Roof: 100;
  --Thickness-Thiner: 1;
  --Thickness-Thin: 10;
  --Thickness-Mid: 12.5;
  --Thickness-Thick: 15;
  --Thickness-Thicker: 20;
  --TypoScale-XXXL: 120;
  --TypoScale-XXL: 90;
  --TypoScale-XL: 67;
  --TypoScale-L: 51;
  --TypoScale-M: 38;
  --TypoScale-SM: 28;
  --TypoScale-XSM: 21;
  --TypoScale-XXSM: 16;
  --TypoScale-XXXSM: 12;
  --TypoScaleMap-MinorSecond: 1.067;
  --TypoScaleMap-MajorSecond: 1.125;
  --TypoScaleMap-MinorThird: 1.2;
  --TypoScaleMap-MajorThird: 1.25;
  --TypoScaleMap-PerfectFourth: 1.333;
  --TypoScaleMap-AugmentedFourth: 1.414;
  --TypoScaleMap-PerfectFifth: 1.5;
  --TypoScaleMap-GoldenRatio: 1.618;
  --TypoWeight-RegularLight: 300;
  --TypoWeight-Regular: 400;
  --TypoWeight-BoldLighter: 500;
  --TypoWeight-BoldLight: 600;
  --TypoWeight-Bold: 700;
  --TypoWeight-BoldStrong: 800;
} */
