---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Nothing found for you...">
  <main>
    <h1>Nothing Found Here...</h1>
  </main>
</Layout>

<style>
  main {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
  }
</style>
