---
import Layout from "../layouts/Layout.astro";
---

<Layout title="My experiences">
  <div><strong>My experiences</strong><em>with integrity.</em></div>
          
  <p>I majored in Physics, Cyber Security at Chungang University.</p>
  <p>I served as Republic Of Korea Army.</p>
  <p>
    I was at some student clubs.
    <ul id="student-clubs">
      <li>
        Student Club for studying Machine Learning, CUAI as a basic course
        member.
      </li>
      <li>
        Student Club for Developers, GDSC(Google Developer Student Clubs)
        Chungang University as a lead.
      </li>
    </ul>
    <p>I am a GDG(Google Developer Groups) Seoul Organizer.</p>
    <p>I won a prize in 2022 Seoul IoT PublicData Hackathon with my friend.</p>
  </p>
</Layout>

