---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/footer.astro";
import Nav from "../components/nav.astro";
import Divider from "../components/divider.astro";
import SectionContainer from "../components/sectioncontainer.astro";
import { Image } from "astro:assets";
import profileImgReal from "../assets/hjeum_profile_real.png";
---

<Layout title="Abstract of HoJoon Eum">
  <Nav />
  <main>
    <section id="who-am-i">
      <article class="description">
        <h3>Hi, It's HoJoon.</h3>
        <p>
          Software Engineer. I think myself as a Builder.<br>
          I am not a methodologist, but I found methodologies very useful in many situations.<br>
          So I try to establish my own methodologies in life.
        </p>
      </article>
      <Image
        id="profile-real"
        src={profileImgReal}
        alt="hojooneum in Hokkaido"
      />
    </section>
    <SectionContainer>
      <section id="what-i-do" class="card">
        <header>
          <h2>What I do?</h2>
          <p>
            I usually build Web application server program.<br>
            Also I enjoy building client programs.<br>
          </p>  
        </header>
        <Divider />
        <article>
          <!-- @todo add links for each word. -->
          <h3>My first options are,</h3>
          <p>Java with Junit, Gradle for server programs.</p>
          <p>Typescript with Jest, NPM for client programs.</p>
        </article>
        <footer>
          <a href="/abstract/what-i-do">And more</a>
        </footer>
      </section>
      
      <section id="how-i-work" class="card">
        <header>
          <h2>How I work?</h2>
          <p>
            Basically, I try to follow the <italic>Agile Manifesto.</italic><br>
            And "principles" for myself and team.
          </p>
        </header>
        <Divider />
        <article>
          <!-- @todo add links for each word -->
          <h3>The principles are,</h3>
          <p>My steps to design a system for myself.</p>
          <p>Shared rules for team play.</p>
        </article>
        <footer>
          <a href="/abstract/how-i-work">And more</a>
        </footer>
        </section>
      </SectionContainer>
      <section id="what-ive-done" class="card">
        <header>
          <h2>What I've done?</h2>
        </header>
        <article>
          <p>I built somethings may found useful.</p>
          <p>And did somethings may inspire people.</p>
        </article>
        <footer>
          <a href="/abstract/what-ive-done">Checkout them</a>
        </footer>
      </section>
  </main>
  <Footer />
</Layout>

<style>
  .card {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    padding: calc(var(--Thickness-Thicker)*1px);
  }
  .card article {
    text-align: start;
  }
  ul {
    margin-top: -1rem;
    margin-left: -2rem;
  }
  /* #how-i-work article h3 {
    margin-bottom: 0;
  }
  #how-i-work article div strong {
    font-size: 1.2rem;
    margin-right: 5px;
  } */
  /* #student-clubs li::before {
    content: "🏫";
  } */
  /* #programs li::before {
    content: "💾";
  } */
  #profile-real {
    max-width: 100%;
    min-width: 30px;
    width: 10%;
    height: auto;
  }
  #who-am-i {
    display: flex;
    flex-flow: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: start;
    padding: unset;
    /* padding: calc(var(--Thickness-Thicker)*2px); */
  }
  #who-am-i .description {
    flex: 3;
    padding: calc(var(--Thickness-Thicker)*1px);
  }
  #who-am-i img {
    flex: 1;
    border-radius: 0 calc(var(--Curve-Lighter)*1px) calc(var(--Curve-Lighter)*1px) 0;
    /* border-radius: calc(var(--Curve-Lighter)*2.5px);
    border-color: var(--Tones-yellow-8);
    border-width: .5rem;
    border-style: solid; */
  }
</style>
