---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/footer.astro";
import Nav from "../components/nav.astro";
import Divider from "../components/divider.astro";
---

<Layout title="Abstract of HoJoon Eum">
  <Nav />
  <main>
    <section id="introduction">
      <h3>Hello, I am HoJoon Eum.</h3>
      <p>
        I am a Problem Solver, Definer, Speaker, Listener, Partner, Finder,
        Coder and Leader.
      </p>
    </section>
    <Divider />
    <section id="my-philosophy">
      <article>
        <h3>As a person,</h3>
        <p>
          I always thinking about what should I do, I find myself a philosopher.
          When deeply thinking about something, especially abstract or complex I
          try to define that with few words. For describing something with few
          words, someone might say that it is making details ambiguous. However,
          in cases, some words that have definite meaning makes the essence of
          whole problem explicit. What usually I thinking is something like <em
            >"So, what is really important?"</em
          > or <em>"What is really going on now?"</em>
           or <em>"How to resolve this problem in nice way?"</em>.
        </p>
        <p>
          I'd love to deliver rich and helpful words to audience, listen to
          various stories, speeches.
        </p>
        <Divider />
        <h3>Looking for a good partner?</h3>
        <p>
          Here I am. As a teammate, friend, collegue, coworker, I can serve as a
          supporter, backup. I experienced various situations in teams on
          projects, studies and communities.
        </p>
        <Divider />
        <h3>Not afraid of being a leader.</h3>
        <p>
          When there is a place to be taken under high responsibility, duty for
          showing a way to go, with embracing the rest, I can serve them.
        </p>
      </article>
    </section>
    <Divider />

    <section id="what-i-did">
      <article>
        <div><strong>What I did</strong><em>with integrity.</em></div>

        <p>I studied Physics, Computer Science at University.</p>
        <p>I served as Republic Of Korea Army.</p>
        <p>
          I was at some student clubs.
          <ul id="student-clubs">
            <li>
              Student Club for studying Machine Learning, CUAI as a basic course
              member.
            </li>
            <li>
              Student Club for Developers, GDSC(Google Developer Student Clubs)
              Chungang University as a lead.
            </li>
          </ul>
          <p>I am a GDG(Google Developer Groups) Seoul Organizer.</p>
          <p>I experienced hackathon with my friend.</p>
        </p>
      </article>
      <Divider />
      <article>
        <h4>As a leader,</h4>
        <ul id="as-a-leader">
          <li>
            I have an experience of growing a student club under 20 members to
            50 members.
          </li>
          <li>
            I organized internal and external meetups which was informative,
            collaborative, educative on purpose.
          </li>
          <li>I scheduled tasks to achieve a objective.</li>
          <li>I listen to our members voices.</li>
          <li>I speak what they need and what I should say.</li>
          <li>I serve as a collegue of them.</li>
        </ul>
      </article>
      <Divider />
      <article>
        <h3>I code programs on purpose.</h3>
        <p>
          Coding is good method of writing my thoughts in structured manner.
          Machine can be a good worker for humanity.
        </p>
        <p>
          I experienced <em
            >C, C++, Java, Python3, Javascript, Typescript, Go</em
          > among the programming languages. I experienced <em
            >Html, Css, Markdown, Yaml</em
          > and other configuration files.
        </p>

        <p>
          Here are What I programmed.
          <ul id="programs">
            <li>
              Node.js web application server with express on serverless service.
            </li>
            <li>
              Node.js web application server with http module, GraphQl, MongoDB.
            </li>
            <li>Go tcp socket application server with Go built-in modules.</li>
            <li>
              Python application program converting csv file to markdown file.
            </li>
            <li>
              Javascript single page application with no dependency on Github
              Pages(self-hosted-runner).
            </li>
            <li>
              Typescript single page application with create-react-app(now
              vite), Mobx(now jotai), react-query, react-router-dom on AWS
              Amplify(with Route53).
            </li>
            <li>
              Typescript Next.js static and dynamic web site with webgl on
              vercel.
            </li>
            <li>Dart Flutter mobile application with BLOC.</li>
          </ul>
        </p>

        <p>As a developer, I don't like over engineering.</p>
      </article>
    </section>

    <Divider />
    <section id="what-i-like">
      <h3>I love to</h3>
      <p>
        talk about <em
          >life, art, philosophy, and other things so complex to resolve that
          need figure out nice apporach.</em>
      </p>
      <p>
        I'm looking for something new and interesting, inspiring. <strong
          >Where are they?</strong
        >
      </p>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  #what-i-did article h3 {
    margin-bottom: 0;
  }
  #what-i-did article div strong {
    font-size: 1.2rem;
    margin-right: 5px;
  }
  #student-clubs li::before {
    content: "🏫";
  }
  #as-a-leader li::before {
    content: "⛵️";
  }
  #programs li::before {
    content: "💾";
  }
</style>
