---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/footer.astro';
import Nav from '../components/nav.astro';
import Divider from '../components/divider.astro';
import SectionContainer from '../components/sectioncontainer.astro';
import { Image } from 'astro:assets';
import ProfileImgReal from '../assets/hjeum_profile_real.png';
---

<Layout title='Abstract of HoJoon Eum'>
  <Nav />
  <main>
    <section id='who-am-i'>
      <article class='description'>
        <h2>Hi, It's HoJoon.</h2>
        <p>
          Software Engineer. I think myself as a Builder.<br />
          I am not a methodologist, but I found methodologies very useful in many
          situations.<br />
          So I try to establish my own methodologies in life.
        </p>
      </article>
      <Image
        id='profile-real'
        src={ProfileImgReal}
        alt='hojooneum in Hokkaido'
      />
    </section>
    <SectionContainer>
      <section
        id='what-i-do'
        class='card'>
        <header>
          <h2>What I do?</h2>
          <p>
            I usually build Web application server program.<br />
            Also I enjoy building client programs.<br />
          </p>
        </header>
        <Divider />
        <article>
          <!-- @todo add links for each word. -->
          <h3>My first options are,</h3>
          <p>Java with Junit, Gradle for server programs.</p>
          <p>Typescript with Jest, NPM for client programs.</p>
        </article>
        <footer>
          <a href='/abstract/303'>And more</a>
        </footer>
      </section>

      <section
        id='how-i-work'
        class='card'>
        <header>
          <h2>How I work?</h2>
          <p>
            Basically, I try to follow the <italic>Agile Manifesto.</italic><br
            />
            And "principles" for myself and team.
          </p>
        </header>
        <Divider />
        <article>
          <!-- @todo add links for each word -->
          <h3>The principles are,</h3>
          <p>My steps to design a system for myself.</p>
          <p>Shared rules for team play.</p>
        </article>
        <footer>
          <a href='/abstract/303'>And more</a>
        </footer>
      </section>
    </SectionContainer>
    <section
      id='what-ive-done'
      class='card'>
      <header>
        <h2>What I've done?</h2>
      </header>
      <article>
        <p>I built somethings may found useful.</p>
        <p>And did somethings may inspire people.</p>
      </article>
      <footer>
        <a href='/abstract/303'>Checkout them</a>
      </footer>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  ul {
    margin-top: -1rem;
    margin-left: -2rem;
  }
  .card {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    padding: calc(var(--Thickness-Thicker) * 1px);
  }
  .card article {
    text-align: start;
  }
  #who-am-i {
    width: 90%;
    align-self: center;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: stretch;
    padding: unset;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
  }
  #who-am-i .description {
    flex: 3;
    text-align: start;
    margin: auto;
    max-width: 60%;
    padding: calc(var(--Thickness-Thicker) * 1px);
  }
  @media screen and (max-width: 600px) {
    #who-am-i {
      flex-direction: column-reverse;
      align-items: center;
    }
    #who-am-i .description {
      margin: unset;
      max-width: 100%;
    }
    #who-am-i img {
      padding: 5px;
    }
  }
  #who-am-i img {
    flex: 1;
    max-width: 300px;
    min-width: 30px;
    height: auto;
    aspect-ratio: 1 / 1;
  }
  #what-ive-done {
    border-bottom: 2px solid black;
  }
  #what-i-do {
    border-bottom: 2px solid black;
    border-right: 4px solid black;
  }
  #how-i-work {
    border-bottom: 2px solid black;
    border-right: 4px solid black;
  }
</style>
