---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/footer.astro";
import Nav from "../components/nav.astro";
import Divider from "../components/divider.astro";
import { Image } from "astro:assets";
import profileImgReal from "../assets/hjeum_profile_real.png";
---

<Layout title="Abstract of HoJoon Eum">
  <Nav />
  <main class="noto-sans">
    <section id="introduction">
      <Image
        id="profile-real"
        src={profileImgReal}
        alt="hojooneum in Hokkaido"
      />
      <h3>Hi, It's HoJoon, Software Engineer.</h3>
      <!-- <p>
        I am a Problem Solver, Definer, Speaker, Listener, Partner, Finder,
        Coder and Leader.
      </p> -->
    </section>
    <Divider />
    <section id="my-philosophy">
      <article>
        <h3>As a man,</h3>
        <p>
          "I am always thinking about what I should do; 
          I find myself becoming a philosopher. 
          When deeply contemplating something, especially abstract or complex concepts, 
          I try to define it with a few words. 
          Describing something concisely may be perceived as making details ambiguous. 
          However, in some cases, using words with definite meanings can make 
          the essence of the whole problem explicit. What I usually ponder is something like <em
            >"So, what is really important?"</em
          > or <em>"What is really going on now?"</em>
           or <em>"How to resolve this problem in nice way?"</em>.
        </p>
        <p>
          I'd love to deliver rich and helpful words to audience, listen to
          various stories, speeches.
        </p>
        <Divider />
        <h3>As a teammate,</h3>
        <p>
          "Here I am, ready to serve as a teammate, friend, colleague, or coworker. 
          I can act as a supporter and backup. 
          I have experienced various situations in teams, projects, studies, and communities."
        </p>
        <Divider />
        <h3>As a leader,</h3>
        <p>
          "When there is a position that demands high responsibility 
          and the duty of showing the way forward while embracing others, 
          I am ready to serve in that capacity."
        </p>
      </article>
    </section>
    <Divider />

    <section id="my-experience">
      <article>
        <div><strong>My experiences</strong><em>with integrity.</em></div>

        <p>I majored in Physics, Cyber Security at Chungang University.</p>
        <p>I served as Republic Of Korea Army.</p>
        <p>
          I was at some student clubs.
          <ul id="student-clubs">
            <li>
              Student Club for studying Machine Learning, CUAI as a basic course
              member.
            </li>
            <li>
              Student Club for Developers, GDSC(Google Developer Student Clubs)
              Chungang University as a lead.
            </li>
          </ul>
          <p>I am a GDG(Google Developer Groups) Seoul Organizer.</p>
          <p>I won a prize in 2022 Seoul IoT PublicData Hackathon with my friend.</p>
        </p>
      </article>
      <Divider />
      <article>
        <h3>About Programming</h3>
        <p>
          Coding is good method of writing my thoughts in structured manner.
          Machine can be a good worker for humanity.
        </p>
        <p>
          I usually work with Java and Go.
        </p>

        <p>
          Here are What I made.
          <ul id="programs">
            <li>
              <a href="/">
                Converter from csv to markdown.
              </a>
            </li>
            <li>
              <a href="/">
                Topstermaker
              </a>
            </li>
        </p>
      </article>
    </section>
    <Divider />
    <section id="what-i-like">
      <h3>I love to</h3>
      <p>
        talk about <em
          >life, art, philosophy, and other things so complex to resolve that
          need figure out nice apporach.</em>
      </p>
      <p>
        I'm looking for something new and interesting, inspiring. 
        <strong>Where are they?</strong>
      </p>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  #my-experience article h3 {
    margin-bottom: 0;
  }
  #my-experience article div strong {
    font-size: 1.2rem;
    margin-right: 5px;
  }
  #student-clubs li::before {
    content: "🏫";
  }
  #programs li::before {
    content: "💾";
  }
  #profile-real {
    max-width: 100%;
    min-width: 30px;
    width: 10%;
    height: auto;
  }
  #introduction {
    display: flex;
    flex-flow: wrap;
    gap: calc(1em + .5vw);
    align-items: center;
    padding: calc(var(--Thickness-Thicker)*1px);
  }
  #introduction img {
    border-radius: calc(var(--Curve-Full)*1px);
  }
</style>
