---
import Layout from "../layouts/Layout.astro";
import Divider from "../components/divider.astro";
---
<Layout title="Thoughts of HoJoon Eum">
  <section>
    <h1>Preface.</h1>
    <p>This is my thoughts not refined. If you are looking for how I work, please checkout <a href="/methodologies/working">methodologies/working</a></p>
  </section>
<h3>As a man,</h3>
  <p>
    "I am always thinking about what I should do; 
    I find myself becoming a philosopher. 
    When deeply contemplating something, especially abstract or complex concepts, 
    I try to define it with a few words. 
    Describing something concisely may be perceived as making details ambiguous. 
    However, in some cases, using words with definite meanings can make 
    the essence of the whole problem explicit. What I usually ponder is something like <em
    >"So, what is really important?"</em
    > or <em>"What is really going on now?"</em>
    or <em>"How to resolve this problem in nice way?"</em>.
  </p>
  <p>
    I'd love to deliver rich and helpful words to audience, listen to
    various stories, speeches.
  </p>
  <Divider />
  <h3>As a teammate,</h3>
  <p>
    "Here I am, ready to serve as a teammate, friend, colleague, or coworker. 
    I can act as a supporter and backup. 
    I have experienced various situations in teams, projects, studies, and communities."
  </p>
  <Divider />
  <h3>As a leader,</h3>
  <p>
    "When there is a position that demands high responsibility 
    and the duty of showing the way forward while embracing others, 
    I am ready to serve in that capacity."
  </p>
</Layout>