---
import contact from "../data/contact.json";
---
<footer id="contact">
  <p class="fn">Contacts(</p>
  <a href=`mailto:${contact.email}`><p>e-mail</p></a>
  <p>,</p>
  <a href={contact.linkedIn}><p>linkedIn</p></a>
  <p>,</p>
  <a href={contact.github}><p>github</p></a>
  <p>)</p>
</footer>

<style>
  #contact {
    display: flex;
    flex-flow: row;
    gap: 5px;
    width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: 5px;
    border-top: 1px solid rgba(0,0,0,.2);
  }
  #contact a {
    text-decoration: none;
  }
</style>