---
import { Image } from 'astro:assets';
import contact from '../data/contact.json';
import TULogo from '../assets/tune-up-studio-logo-bgremoved.png';
import pkgJson from '../../package.json';
---

<footer id='footer'>
  <p id='design-system-mark'>Designed by HoJoon Eum, © Allright Reserved.</p>
  <div id='version'>{pkgJson.version}</div>
</footer>

<style>
  #footer {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 2rem;
    height: auto;
    padding: calc(var(--Thickness-Thin) * 1px);
    background-color: black;
  }
  #footer #contacts {
    display: flex;
    flex-flow: row;
    gap: calc(var(--Thickness-Thiner) * 1px);
    color: var(--Tints-green-8);
  }
  #footer #version {
    display: grid;
    place-items: center;
  }
  #design-system-mark {
    font-size: var(--p-fontsize-desktop);
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    color: var(--Tones-red-3);
  }
  #tune-up-studio-logo {
    width: 50px;
    height: 50px;
  }
</style>
