---
import { Image } from "astro:assets";
import myLogo from "../assets/hjeum_profile.png";
---

<nav id="nav-bar">
  <a href="/abstract"><h1 id="myname" class="roboto-condensed bold">HJEum</h1></a>
  <div id="links">
    <a href="https://medium.com/@bldolphin96">TechBlog</a>
    /
    <a href="https://amans-cumulus.tistory.com/">LifeBlog</a>
  </div>
  <Image
    id="my-logo"
    src={myLogo}
    alt="HoJoon Eum's personal logo"
  />
</nav>

<style>
  #nav-bar {
    position: sticky;
    top: 0;
    left: .5%;
    display: flex;
    width: 99%;
    height: auto;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: white;
    z-index: calc(var(--Depth-Lobby)*1px);
    padding: calc(var(--Thickness-Thin)*1px) calc(var(--Thickness-Thicker)*1px);
  }
  #nav-bar #links {
    font-size: calc(1rem + .5vw);
  }
  #nav-bar #links a {
    text-decoration: none;
  }
  #nav-bar #links a:hover {
    text-decoration: underline;
  }
  #myname {
    font-weight: 800;
    font-style: normal;
    font-size: calc(1.2rem + 1vw);
  }
  #my-logo {
    width: calc(30px + 1vw);
    height: calc(30px + 1vw);
  }
</style>
