---
import Comma from "./comma.astro";
import Parenthesis from "./parenthesis.astro";
---

<nav id="nav-bar">
  <div class="declaration">
    <p class="fn">MyPersonalLogo</p>
    <Parenthesis>
      <img
        src="./hjeum_profile.png"
        alt="HoJoon Eum's personal logo"
        width="30px"
        height="30px"
      />
    </Parenthesis>
  </div>
  <p class="andOp">&&</p>
  <div class="declaration">
    <p class="fn">MyWritings</p>
    <Parenthesis>
      <div id="links">
        <a href="https://medium.com/@bldolphin96"><span>📄Tech</span></a>
        <Comma />
        <a href="https://amans-cumulus.tistory.com/"><span>📄Life</span></a>
      </div>
    </Parenthesis>
  </div>
</nav>

<style>
  #nav-bar {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    height: auto;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    background: white;
    z-index: 5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
  }
  #nav-bar #links a {
    text-decoration: none;
  }
</style>
