---
import { Image } from 'astro:assets';
import ProfileLogo from '../assets/hjeum_profile.png';
---

<nav id='nav-bar'>
  <a href='/abstract'
    ><h1
      id='myname'
      class='roboto-condensed bold'>
      HJEum
    </h1></a
  >
  <div id='links'>
    <a href='https://medium.com/@bldolphin96'>TechBlog</a>
    /
    <a href='https://amans-cumulus.tistory.com/'>LifeBlog</a>
  </div>
  <Image
    id='my-logo'
    src={ProfileLogo}
    alt="HoJoon Eum's personal logo"
  />
</nav>

<style>
  #nav-bar {
    position: sticky;
    top: 0;
    display: flex;
    width: 100vw;
    height: auto;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    z-index: calc(var(--Depth-Lobby) * 1px);
    padding: 0 calc(var(--Thickness-Thicker) * 2px);
    color-scheme: light dark;
    border-bottom: 5px solid var(--Tints-neutral-7);
  }
  @media (prefers-color-scheme: light) {
    #nav-bar {
      background-color: var(--Tints-neutral-0);
      border-bottom: 5px solid var(--Tints-red-7);
    }
  }
  @media (prefers-color-scheme: dark) {
    #nav-bar {
      background-color: var(--Shades-neutral-0);
      border-bottom: 5px solid var(--Tints-green-7);
    }
  }
  #nav-bar #links {
    font-size: calc(1rem + 0.5vw);
  }
  #myname {
    font-weight: 800;
    font-style: normal;
    font-size: calc(1.2rem + 1vw);
  }
  #my-logo {
    width: calc(30px + 1vw);
    height: calc(30px + 1vw);
    background-color: white;
    border-radius: 50%;
    border-color: var(--Tints-neutral-8);
    border-width: 2px;
    border-style: solid;
  }
  @media (prefers-color-scheme: light) {
    #my-logo {
      border-color: var(--Tints-red-8);
    }
  }
  @media (prefers-color-scheme: dark) {
    #my-logo {
      border-color: var(--Tints-green-8);
    }
  }
</style>
