---
import Comma from "./comma.astro";
import Parenthesis from "./parenthesis.astro";
---

<nav id="nav-bar">
  <div class="declaration">
    <p class="fn">MyLogo  </p>
    <Parenthesis>
      <img
        src="./hjeum_profile.png"
        alt="HoJoon Eum's personal logo"
        width="30px"
        height="30px"
      />
    </Parenthesis>
  </div>
  <p class="and-operator">&&</p>
  <div class="declaration">
    <p class="fn">MyWritings</p>
    <Parenthesis>
      <div id="links">
        <a href="https://medium.com/@bldolphin96"><span>📄Tech</span></a>
        <Comma />
        <a href="https://amans-cumulus.tistory.com/"><span>📄Life</span></a>
      </div>
    </Parenthesis>
  </div>
</nav>

<style>
  #nav-bar {
    position: sticky;
    top: 1px;
    left: .5%;
    display: flex;
    width: 99%;
    height: auto;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    background: white;
    z-index: calc(var(--Depth-Lobby)*1px);
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.2);
    border-radius: calc(var(--Curve-Lighter)*1px);
    padding: calc(var(--Thickness-Thin)*1px) calc(var(--Thickness-Thicker)*1px);
  }
  #nav-bar #links a {
    text-decoration: none;
  }
</style>
