<div class="parenthesis">
  <span class="fn">(</span>
  <slot />
  <span class="fn">)</span>
</div>

<style>
  .parenthesis {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
</style>
